@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
:root{
    --orange:#ff7800;
    --lightcolor:#666;
    --black:#130f40;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header{
    padding: 2rem 7%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
}
#logo{
    font-size: 2.5rem;
    color: rgb(15, 1, 217);
    font-weight: bold;
}
#logo span{
    color: var(--orange);
}
.icons #menu-bars{
    color: var(--orange);
    font-size: 2rem;
}
.navbar.active{
    left: 0;
}
.navbar{
    position: absolute;
    top: 100%;
    background-color: var(--orange);
    width: 30rem;
    height: 100vh;
    left: -100%;
    transition: 0.5s;
}
.navbar a {
    display: block;
    margin: 1rem;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
}
.background-img{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(../Image/Business.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.innerText-background{
    text-align: center;
}
.innerText-background h2{
    color: white;
    font-size: 30px;
}
.innerText-background h1{
    color:var(--orange);
    font-size: 50px;
}
.innerText-background h3{
    color: white;
    font-size: 30px;
}
.what-we-do{
    padding: 5rem 7%;
    background: var(--orange);
}
.main-we-do{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-we-do{
    flex: 1 1 45rem;
}
.inner-we-do h1{
    color: var(--black);
    font-size: 40px;
}
.inner-we-do p{
    color: white;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 25px;
    user-select: none;
}
.inner-we-do a{
    padding: 2rem 4rem;;
    background: var(--black);
    color: var(--lightcolor);
    border-radius: 50px;
    font-size: medium;
}
.inner-we-do a:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: aliceblue;
}
.our-service{
    padding: 3rem 7%;
}
.our-service h1{
    color: var(--black);
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.our-service h1 span{
    color: var(--orange);
}
.main-services{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap :10px;
}
.inner-service{
    flex: 1 1 200px;
    padding: 2rem 3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.inner-service:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inner-service .service-icons{
    width: 50px;
    height: 50px;
    background: var(--black);
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.inner-service .service-icons i{
    color: white;
    font-size: 1.5rem;
}
.inner-service p{
    padding: 0 2rem;
    font-size: 1.5rem;
    user-select: none;
}
.gallery{
    padding: 3rem 7%;
}
.gallery h1{
    font-size: 40px;
    text-align: center;
    color: var(--black);
    margin-bottom: 25px;
}
.gallery h1 span{
    color: var(--orange);
    font-size: 45px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-gallery{
    flex: 1 1 400px;
}
.inner-gallery img{
    width: 100%;
    height: 300px;
}
.inner-gallery img:hover{
    transform: scale(1.1);
}
.our-price{
 padding: 4rem 7%;
 
}
.our-price h1{
    color: var(--black);
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}
.our-price h1 span{
    color: var(--orange);
}
.main-price{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-price{
    flex: basis 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem 4rem;
}
.price-heading{
    padding: 3rem;
    background-color: var(--black);
    text-align: center;
}
.price-heading h2{
    color: white;
    font-size: 2rem;
}
.price-heading p{
    color: white;
    font-size: 1.5rem;
}
.price-text P{
    font-size: 1.5rem;
    color:var(--black);
    margin: 1rem;
}
.inner-price .inner-price-heading h2{
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 25px;
    user-select: none;
}
.inner-price .inner-price-heading h2 span{
    font-size: 4rem;
}
.inner-price a{
    padding: 2rem 4rem;
    font-size: 1.5rem;
    color: white;
    background: var(--black);
    border-radius: 35px;
    transition: 0.5s;
}
.inner-price a:hover{
    box-shadow: rgba(113, 115, 124, 0.35) 2px 5px 15px;
    color: var(--black);
    background:whitesmoke;
    transform: scale(1.1);
}

.our-client{
    padding: 3rem 7%;
}
.our-client h1{
    color: var(--black);
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}
.our-client h1 span{
    color: var(--orange);
}

.main-client{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.inner-client{
    flex-basis: 20%;
    text-align: center;
}
.inner-client img{
    width: 50%;
}
.get-in-touch{
    padding: 4rem 7%;
    background: var(--black);
}
.get-in-touch h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.main-touch p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
.touch-icons{
    text-align: center;
    margin-top: 20px;
}
.touch-icons a{
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
}
.touch-icons a:hover{
    transform: scale(1.1);
}










@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    .inner-prices{
        flex-basis: 100%;
    }
    .inner-we-do img{
        width: 50%;
        margin-top: 50px;
        
    }
    .we-do-image{
        text-align: center;
    }
}